# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# Streamlit Cache
.streamlit/

# Python cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# SQLite temporary files
*.db-journal
*.sqlite-journal

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# PyInstaller
*.spec